In [3]:
import numpy as np
import pandas as pd

In [6]:
array_exemplo = np.array([3,1,5,2,4])
array_ordenado = np.sort(array_exemplo)
dados = pd.read_csv("manutencao_preditiva.csv")

In [17]:
dados

,UDI,ID Produto,Tipo,Temperatura Ar [K],Temperatura Processo [K],Velocidade Rotacao [rpm],Torque [Nm],Desgaste Ferramenta [min],Alvo,Tipo da Falha
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [ ]:
print("Array original: ", array_exemplo)
print("Array ordenado: ", array_ordenado)

In [ ]:
Dados = {'Nome':['Alice','Bob','Charlie','David','Eva'],
         'Idade':['25','30','35','40','20'],
         'Salário':['5000','6000','7000','8000','4000']}

Dados

In [ ]:
df = pd.DataFrame(Dados)
df

In [ ]:
df_ord_idade = df.sort_values('Idade')
df_ord_idade

In [ ]:
df_ord_salario = df.sort_values('Salário')
df_ord_salario

In [ ]:
df_ordenado = df.sort_values(by=['Idade','Salário'])
df_ordenado

In [ ]:
#1 Organize o dado pelo tipo
#2 Organize o dado pelo tipo da falha
#3 Organize o dado pelo tipo e tipo de falha
#4 Selecione apenas dados de máquina do tipo M
#5 Verifique quais são as falhas para este tipo de máquina
#6 Selecione apenas dados de máquina do tipo M e H
#7 Para tipo de falha de energia (Power Railure),quantos tipos de máquinas existem para
#L,M e H
#8 Qual a faixa de valores de temperatura do Ar e do Processo quando há apenas falhas
#de energia
#9 Para tipo de falha overstrain, quantos tipos de máquinas existem para L,M e H
#10 Qual a faixa de valores de torque,quando há apenas falhas de energia

In [ ]:
#1 
df_tipo = dados.sort_values(by = 'Tipo')
df_tipo

In [ ]:
#2
df_tipo_falha = dados.sort_values(by='Tipo da Falha')
df_tipo_falha['Tipo da Falha'].value_counts()

In [ ]:
#3
df_tipo_falha = dados.sort_values(by=['Tipo','Tipo da Falha'])
df_tipo_falha

In [ ]:
#4
dados_m = dados[dados['Tipo']=='M']
dados_m

In [ ]:
#5
dados_m = dados_m = dados[dados['Tipo']=='M']
dados_m['Tipo da Falha'].value_counts()

In [ ]:
#6
dados_M_H = dados[(dados["Tipo"] == 'M') | (dados['Tipo'] == 'H')]
dados_M_H['Tipo'].value_counts()

In [ ]:
dados

In [ ]:
#7
dados_power = dados[dados['Tipo da Falha'] == 'Power Failure']
dados_power['Tipo'].value_counts()

In [ ]:
dados_power = dados_power['Tipo'].value_counts()
print(dados_power['Temperatura Ar [K]'].min())
print(dados_power['Temperatura Ar [K]'].max())